.head {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  text-align: center;
}
.body {
  position: static;
  top: 110px;
  text-align: center;
}
.fiyat {
  text-align: center;
}
.image {
  width: 20%;
}
